/* style.css */

a:link {
    font-family: Verdana, arial, helvetica, serif;
    text-decoration: none;
    color: #22282E;
}

a:visited {
    font-family: Verdana, arial, helvetica, serif;
    text-decoration: none;
    color: #22282E;
}

a:hover {
    font-family: Verdana, arial, helvetica, serif;
    text-decoration: none;
    color: #6E7B87;
}

html {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    height: 100%;
    margin: 0;
    color: #000000;
}

.seite {
    height: 100%;
    width: 100%;
    max-width: 1400px;
}

.textsmall {
    font-size: small;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
}

.help {
    background-color: #FFFF80;
    color: #000000;
    font-size: 12px;
}


/* Links in der Hilfe */
.help a {
    text-decoration: underline;
}

/* Ranking gut */
.ranking_green {
    color: #00AA00;
}

/* Ranking mittel */
.ranking_yellow {
    color: #AAAA00;
}

/* Ranking schlecht */
.ranking_red {
    color: #FF0000;
}

/* Menustyles */
.menu {
    background-color: #BEBEBE;
    color: #000000;
}

.menu a {
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: 3px;
}

.menu a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.menutop {
    background-color: #BEBEBE;
    color: #000000;
    width: 150px;
}

.menutop a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    padding: 10px;
}

.menutop a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* Banner */
#iwdb_logo {
    background-color: #000000;
    text-align: center;
}
@media all and (max-height: 600px) {
    #iwdb_logo {
        display: none;
    }
}

/* Titelzellen */
.titlebg {
    color: #FFFFFF;
    background-color: #4F94CD;
}

/* Hintergrund 1 */
.windowbg1 {
    background-color: #FFFFFF;
    color: #000000;
}

/* Hintergrund 2 */
.windowbg2 {
    background-color: #4682B4;
    color: #000000;
}

/* Hintergrund 3 */
.windowbg3 {
    background-color: #C2DFEF;
    color: #000000;
}

/* IKEA Textfarbe */
.IKEA {
    color: blue;
}

/* Meister der Peitschen Textfarbe */
.MdP {
    color: green;
}

.hr {
    color: #000000;
    background-color: transparent;
}

/* Hintergrund */
.background {
    background-color: #F5F9FA;
    background-image: url(../bilder/bg.gif);
}

/* grosser Text alt */
.bigtext {
    font-size: 15px;
}

/* Systemmessage */
.doc_message {
    text-align: center;
}

/* Systemhinweis */
.system_notification {
    font-size: 1.1em;
    text-align: center;
}

/* Systemhinweis hervorgehoben */
.system_notification_blue {
    font-size: 1.2em;
    text-align: center;
    color: #0000FF;
}

/* Systemwarnung */
.system_warning {
    font-size: 1.3em;
    color: #FF6600;
    font-weight: bold;
    text-align: center;
}

/* Systemfehler */
.system_error {
    color: #FF0000;
    font-size: 1.5em;
    text-align: center;
}

/* Begrüssung */
#doc_greeting {
    width: 15%;
    font-size: small;
    text-align: left;
    border: 0;
}

/* Anzeige der in den letzten 5 min aktiven User */
#doc_usersonline {
    font-size: small;
    text-align: left;
    border: 0;
}

/* Mainmenu oben */
#doc_mainmenu {
    font-size: small;
    text-align: right;
    font-weight: bold;
    width: 400px;
    border: 0;
}

#doc_mainmenu img,
#doc_mainmenu span {
    vertical-align: middle;
}

/* Menu links neu */
.doc_menu {
    text-align: left;
}

/* Sichtfenster Aussen */
table.doc_main {
    width: 100%;
    padding: 5px;
    border-spacing: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* Sichtfenster Innen */
td.doc_main {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
}


/* blaue Schrift */
.doc_blue {
    color: #000088;
}

/* rote Schrift */
.doc_red {
    color: #FF0000;
}

/* grüne Schrift */
.doc_green {
    color: #008800;
}

/* gelbe Schrift */
.doc_yellow {
    color: #00FFFF;
}

/* hellrote Schrift */
.doc_lightred {
    color: #FF4466;
}

/* graue Schrift */
.doc_grey {
    color: #777777;
}

/* schwarze Schrift */
.doc_black {
    color: #000000;
}

/* zentriert */
.doc_centered {
    text-align: center;
}

/* blaue zentrierte Schrift */
.doc_centered_blue {
    color: #000088;
    text-align: center;
}

/* rote zentrierte Schrift */
.doc_centered_red {
    color: #FF0000;
    text-align: center;
}

/* grüne zentrierte Schrift */
.doc_centered_green {
    color: #008800;
    text-align: center;
}

/* kleine zentrierte Schrift */
.doc_small_centered {
    font-size: small;
    text-align: center;
}

/* schwarze grosse Schrift */
.doc_big_black {
    font-size: 2em;
    color: black;
}

/* weisse grosse Schrift */
.doc_big_white {
    font-size: 1.5em;
    color: white;
}

/* Textfelder, Checkboxen */
input {
    height: 1.5em;
    color: #22282E;
    background-color: ivory;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Chrome, Safari */
	-khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* CSS3 */
	/*behavior:url(border-radius.htc);*/ /* Internet Explorer */
}

/* Buttons */
input[type=submit],
input[type=reset],
input[type=button] {
    height: 1.5em;
    font-family: Verdana, arial, helvetica, serif;
    color: #22282E;
    font-size: 1.2em;
    border: 1px solid #22282E;
    background-color: #FFFFFF;
    vertical-align: middle;
	cursor: pointer;
	-webkit-appearance: button;
}

/* number inputs */
input[type=number] {
    text-align: right;
}

/* Textfelder über mehrere Zeilen */
textarea {
    color: #22282E;
    border: 1px solid #22282E;
    background-color: #FFFFFF;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Chrome, Safari */
	-khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* CSS3 */
	/*behavior:url(border-radius.htc);*/ /* Internet Explorer */
}

/* Auswahllisten */
select {
    color: #22282E;
    border: 1px solid #22282E;
    background-color: #FFFFFF;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Chrome, Safari */
	-khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* CSS3 */
	/*behavior:url(border-radius.htc);*/ /* Internet Explorer */
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
}


/* Fadein bei unerledigten Sitteraufträgen */
#fadein {
    position: fixed;
    top: 2px;
    right: 2px;
    width: 150px;
    height: 40px;
    background-color: #FFEEDD;
    margin: 5px;
    border: 0;
    text-align: center;
}

/* Fenster des Fadeins */
.fadein {
    background-color: #C4D7DF;
    color: #000000;
    text-align: center;
}

/* Überschrift in Modulen */
h1 {
    color: #004466;
    font-size: 2.2em;
    text-align: center;
    margin: 0.75em;
    font-weight: bold;
}

h2 {
    color: #004466;
    font-size: 1.6em;
    text-align: center;
    margin: 0.75em;
    font-weight: bold;
}

h3 {
    color: #004466;
    font-size: 1.4em;
    text-align: center;
    margin: 0.75em;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    text-align: center;
    margin: 0.75em;
    font-weight:normal;
}

img,
.borderless,
#gebtable,
#gebtable td {
    border: 0 !important;
}

.scan_table {
    width: 100%;
}

.scan_row:hover {
    background-color: gold;
}

.scan_object {
    border: 0 !important;
}

.scan_value {
    text-align: right;
    border: 0 !important;
}

.bordercolor {
    background-color: #000000;
}

input:invalid {
    border-color: #ee5f5b;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/* für die members.php */

td[abbr=newtask] {
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

td[abbr=login] {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

td[abbr=both] {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

/* für m_sitterschleife */

.button1 {
    background-color: #ffffff !important;
    padding: 1px;
    margin: 4px 2px;
}

.button1_offen {
    background-color: #FEDDDF !important;
    padding: 1px;
    margin: 4px 2px;
}

.button1_incoming {
    background-color: #FF0000 !important;
    padding: 1px;
    margin: 4px 2px;
}

.button2 {
    background-color: #dddddd !important;
    padding: 1px;
    margin: 4px 2px;
}

.button2_offen {
    background-color: #FEDDDF !important;
    padding: 1px;
    margin: 4px 2px;
}

.button2_incoming {
    background-color: #FF0000 !important;
    padding: 1px;
    margin: 4px 2px;
}

/* für m_lager */

#lagertabelle {
    width: 100%;
}
@media all and (max-width: 1200px) {
    #lagertabelle td {
        font-size: 8px;
    }
}
@media all and (min-width: 1200px) {
    #lagertabelle td {
        font-size: 9px;
    }
}
@media all and (min-width: 1300px) {
    #lagertabelle td {
        font-size: 10px;
    }
}
@media all and (min-width: 1400px) {
    #lagertabelle td {
        font-size: 12px;
    }
}

/* für m_frachtkappa */

#transcalc_input_table input[type=text] {
    width: 100px;
    text-align: right;
}

#class1kappatext,
#class2kappatext,
#systranstext,
#gorgoltext,
#kameltext,
#flughundtext,
#lurchtext,
#eisbaertext,
#waschbaertext,
#seepferdchentext {
    width: 100px;
    text-align: right;
}

/* bbcode styling */

.bbcodebutton {
    width: 18px;
    height: 18px;
    padding: 3px;
    margin: 1px;
    border: 1px solid #ccc;
    background: url('../bilder/iwdb/bbcodebuttons.png') no-repeat;
}

#bbcode_b_button {
    background-position: 0 0;
}

#bbcode_i_button {
    background-position: -32px 0;
}

#bbcode_u_button {
    background-position: -80px 0;
}

#bbcode_s_button {
    background-position: -48px 0;
}

#bbcode_farbe_button {
    background-position: -16px 0;
}

#bbcode_smilie_button {
    background-position: -64px 0;
}

#cpcontainer {
    z-index: 1000;
    border: 0;
}

#spcontainer {
    z-index: 1000;
    border: 0;
}

#colorpickertable {
    border: 2px ridge #ddd;
    margin: auto;
}

#colorpickertable td {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

#colorpickertable td:hover {
    height: 8px;
    width: 8px;
    border: 1px solid white;
}

#smiliepickertable {
    border: 2px ridge #ddd;
    margin: auto;
    background-color: #eee;
}

#smiliepickertable td {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

#smiliepickertable td:hover {
    background-color: #ddd;
}

.table_format {
    border: 1px solid black;
    padding: 4px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_format th {
    border: 1px solid black;
    padding: 4px;
    border-spacing: 1px;
}

.table_format td {
    border: 1px solid black;
    padding: 4px;
    border-spacing: 1px;
}

.table_format_noborder {
    border: none;
    padding: 4px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_format_noborder th {
    border: none;
    padding: 4px;
    border-spacing: 1px;
}

.table_format_noborder td {
    border: none;
    padding: 4px;
    border-spacing: 1px;
}

.table_format_help {
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_format_help th {
    border: 1px solid black;
    padding: 8px;
    border-spacing: 1px;
}

.table_format_help td {
    border: 1px solid black;
    padding: 8px;
    border-spacing: 1px;
}

.table_format_members {
    border-style: none;
    padding: 4px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_format_showgalaxy {
    border-style: none;
    padding: 3px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.top {
    vertical-align: top !important;
}

.middle {
    vertical-align: middle !important;
}

.bottom {
    vertical-align: bottom !important;
}

.nowrap {
    white-space: nowrap;
}

abbr {
    border: none;
}

.bold {
    font-weight: bold;
}

table.zentriert {
    margin-left:auto; 
    margin-right:auto;
}

/* veraltet */

.doc_title {
    color: #004466;
    font-size: 2.2em;
    text-align: center;
    margin: 0.75em;
    font-weight: bold;
}

/*
TOOLTIP
*/

#tooltip
{
	font-family: Ubuntu, sans-serif;
	font-size: 0.875em;
	text-align: center;
	text-shadow: 0 1px rgba( 0, 0, 0, .5 );
	line-height: 1.5;
	color: #fff;
	background: #333;
	background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
	background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #fff;
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	position: absolute;
	z-index: 100;
	padding: 15px;
}
#tooltip:after
{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top: 10px solid #333;
	border-top-color: rgba( 0, 0, 0, .7 );
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}
#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #333;
    border-bottom-color: rgba( 0, 0, 0, .6 );
	top: -20px;
	bottom: auto;
}
.tooltip.left:after
{
	left: 10px;
	margin: 0;
}
.tooltip.right:after
{
	right: 10px;
	left: auto;
	margin: 0;
}