#magic quotes stuff off
<ifmodule mod_php.c>
    php_value magic_quotes 0
    php_flag magic_quotes off
    php_value magic_quotes_gpc 0
    php_flag magic_quotes_gpc off
</ifmodule>

#hide all dot files
<files "^\.*">
  deny from all
</files>

#caching für verschiedene Dateitypen aktivieren wenn Modul verfügbar
<ifmodule mod_expires.c>
    ExpiresActive On

    # Standardcache 1 Stunde
    ExpiresDefault "access plus 1 hour"

    # Medien sie sich wohl nie aendern 1 Jahr cachen
    <FilesMatch "\.(ico|pdf|mp3|oga)$">
        ExpiresDefault "access plus 1 year"
    </FilesMatch>

    # Bilder 1 Monat cachen
    <FilesMatch "\.(gif|jpg|jpeg|png)$">
        ExpiresDefault "access plus 1 month"
    </FilesMatch>

    # Javascript und CSS-Styles 1 Monat cachen
    <FilesMatch "\.(js|css)$">
        ExpiresDefault "access plus 1 month"
    </FilesMatch>

    # selten aktualisierte Seiten 2 Stunden cachen
    <FilesMatch "\.(xml|txt|html|htm)$">
        ExpiresDefault "access plus 2 hours"
    </FilesMatch>

    # kein cachen dynamischer Seiten
    <FilesMatch "\.(php)$">
        ExpiresActive Off
    </FilesMatch>

    # kein cachen des Transportstats graphen
    <FilesMatch "^graph_transport.gif$">
        ExpiresDefault "access plus 0 seconds"
    </FilesMatch>
</ifmodule>

#Kompression aktivieren wenn Modul verfügbar
<ifmodule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>